/*tag selector*/

body {
  background-color: #8ab6d6;
}

hr {
  border-style: dotted none none;
  border-color: #2978b5;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #2978b5;
}

h3 {
  color: #2978b5;
}

img:hover{
  background-color: pink;
}

/*Class selectors (can be used by different tags)*/

.profile{
  background-color: green;
}

/*This is the second selector of the class profile "two"*/
.two{
  border-radius: 100%;
}

/*Id selectors (id are unique identifiers)*/
#name{
  color:hotpink;
  font-size: 100px;
}

